# Team Project Data Mining  - MSDS 7331
### Name: Cynthia Alvarado, Christopher Havenstein, Alma Lopez, Hieu Nguyen
#### Notepad for H-1 Visa project
Public Disclosure File: H-1B iCERT LCA
Federal Fiscal Year: 2016
Reporting Period: October 1, 2015 through September 30, 2016
Important Note: This public disclosure file contains administrative data from employers’ Labor Condition Applications (ETA Forms 9035 & 9035E) and the certification determinations processed by the Department’s Office of Foreign Labor Certification, Employment and Training Administration where the date of the determination was issued on or after October 1, 2015, and on or before September 30, 2016. All data were extracted from the Office of Foreign Labor Certification’s iCERT Visa Portal System; an electronic filing and application processing system of employer requests for H-1B nonimmigrant workers.

## Business Understanding

## Data Meaning Type

| Variable      | Description                                     |
| ------------- |:-----------------------------------------------|
| CASE_NUMBER   | Unique identifier assigned to each application submitted for processing to the Chicago National Processing Center.| 
| CASE_STATUS   | tatus associated with the last significant event or decision. Valid values include “Certified,” “Certified-Withdrawn,” Denied,” and “Withdrawn” | 
|  CASE_SUBMITTED | Date and time the application was submitted.  | 
| DECISION_DATE | Date on which the last significant event or decision was recorded by the Chicago National Processing Center.|
| VISA_CLASS | Indicates the type of temporary application submitted for processing. R = H-1B; A = E-3 Australian; C = H-1B1 Chile; S = H-1B1 Singapore. Also referred to as “Program” in prior years.|
| EMPLOYMENT_START_DATE | Beginning date of employment. |
|EMPLOYMENT_END_DATE | Ending date of employment.|
|EMPLOYER_NAME | Name of employer submitting labor condition application.|
|EMPLOYER_ADDRESS|Employer address|
|EMPLOYER_CITY|Employer City|
|EMPLOYER_STATE|Employer State|
|EMPLOYER_POSTAL_CODE|Employer Postal Code|
|EMPLOYER_COUNTRY|Employer Country|
|EMPLOYER_PROVINCE|Employer Province|
|EMPLOYER_PHONE|Employer Phone|
|EMPLOYER_PHONE_EXT|Employer Phone Extension|
|AGENT_ATTORNEY_NAME | Name of Agent or Attorney filing an H-1B application on behalf of the employer.|
|AGENT_ATTORNEY_CITY | City information for the Agent or Attorney filing an H-1B application on behalf of the employer.|
|AGENT_ATTORNEY_STATE | State information for the Agent or Attorney filing an H-1B application on behalf of the employer.|
|JOB_TITLE | Title of the job.|
|SOC_CODE | Occupational code associated with the job being requested for temporary labor condition, as classified by the Standard Occupational Classification (SOC) System.|
|SOC_NAME | Occupational name associated with the SOC_CODE|
|NAIC_CODE | Industry code associated with the employer requesting permanent labor condition, as classified by the North American Industrial Classification System (NAICS)|
|TOTAL_WORKERS | Total number of foreign workers requested by the Employer(s).|
|FULL_TIME_POSITION | Y = Full Time Position; N = Part Time Position.|
|PREVAILING_WAGE | Prevailing Wage for the job being requested for temporary labor condition.|
|PW_UNIT_OF_PAY | Unit of Pay. Valid values include “Daily (DAI),” “Hourly (HR),” “Bi-weekly (BI),” “Weekly (WK),” “Monthly (MTH),” and “Yearly (YR)”.|
|PW_SOURCE | Variables include "OES", "CBA", "DBA", "SCA" or "Other".|
|PW_SOURCE_YEAR | Year the Prevailing Wage Source was Issued.|
|PW_SOURCE_OTHER | If "Other Wage Source", provide the source of wage.|
|WAGE_RATE_OF_PAY_FROM | Employer’s proposed wage rate.|
|WAGE_RATE_OF_PAY_TO | Maximum proposed wage rate.|
|WAGE_UNIT_OF_PAY | Unit of pay. Valid values include “Hour", "Week", "Bi-Weekly", "Month", or "Year".|
|H-1B_DEPENDENT | Y = Employer is H-1B Dependent; N = Employer is not H-1B Dependent.|
|WILLFUL_VIOLATOR | Y = Employer has been previously found to be a Willful Violator; N = Employer has not been considered a Willful Violator.|
|WORKSITE_CITY | City information of the foreign worker's intended area of employment.|
|WORKSITE_COUNTY | County information of the foreign worker's intended area of employment. |
|WORKSITE_STATE | State information of the foreign worker's intended area of employment.|
|WORKSITE_POSTAL_CODE | Zip Code information of the foreign worker's intended area of employment.|
|ORIGINAL_CERT_DATE | Original Certification Date for a Certified_Withdrawn application.|

## Data Quality

In [1]:
#Import libraries
import pandas as pd
import math

In [2]:
#Load Data
filename = "C:\Alma@SMU\MSDS_7331_DM\H1Visa_Project\H-1B_Disclosure_Data_FY16.csv"
H1VisaData_df = pd.read_csv(filename, encoding='cp1252')

C:\Users\Alma_Lopez\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
#Exploration Data Analysis (EDA)
#Checking missing values
print(H1VisaData_df.describe())
H1VisaData_df.isnull().sum()

               CASE_NUMBER          CASE_STATUS CASE_SUBMITTED DECISION_DATE  \
0       I-200-12240-490687  CERTIFIED-WITHDRAWN     2012-08-27    2015-10-16
1       I-200-13053-847481  CERTIFIED-WITHDRAWN     2013-02-25    2016-01-13
2       I-200-13088-054259  CERTIFIED-WITHDRAWN     2013-04-23    2015-12-10
3       I-200-13144-034110  CERTIFIED-WITHDRAWN     2013-05-24    2016-01-19
4       I-200-13172-415116            WITHDRAWN     2013-06-26    2016-05-20
5       I-200-13219-306739  CERTIFIED-WITHDRAWN     2013-08-07    2015-10-30
6       I-200-13317-861241  CERTIFIED-WITHDRAWN     2013-11-20    2016-02-22
7       I-200-14037-755844  CERTIFIED-WITHDRAWN     2014-02-07    2015-11-16
8       I-200-14042-183163  CERTIFIED-WITHDRAWN     2014-02-19    2015-11-18
9       I-200-14072-690535            WITHDRAWN     2014-03-19    2016-03-03
10      I-200-14078-894857  CERTIFIED-WITHDRAWN     2014-03-19    2016-01-27
11      I-200-14149-018419  CERTIFIED-WITHDRAWN     2014-06-10    2016-08-18
12      I-200-14154-477986  CERTIFIED-WITHDRAWN     2014-06-17    2016-01-07
13      I-200-14171-616267  CERTIFIED-WITHDRAWN     2014-12-11    2016-01-12
14      I-200-14231-645202  CERTIFIED-WITHDRAWN     2014-08-20    2016-05-18
15      I-200-15070-614874  CERTIFIED-WITHDRAWN     2015-03-16    2015-10-22
16      I-200-15113-356765  CERTIFIED-WITHDRAWN     2015-04-23    2015-10-21
17      I-200-15191-327425  CERTIFIED-WITHDRAWN     2015-08-10    2016-04-07
18      I-200-15198-889809            CERTIFIED     2015-11-10    2015-11-18
19      I-200-15209-285824            CERTIFIED     2015-10-14    2015-10-20
20      I-200-15210-427331  CERTIFIED-WITHDRAWN     2015-08-05    2015-11-10
21      I-200-15230-262660  CERTIFIED-WITHDRAWN     2015-08-24    2016-04-07
22      I-200-15230-781769            CERTIFIED     2015-09-30    2015-10-06
23      I-200-15251-463485            CERTIFIED     2015-09-28    2015-10-02
24      I-200-15252-676375  CERTIFIED-WITHDRAWN     2015-09-09    2015-10-22
25      I-200-15257-186803            CERTIFIED     2015-12-31    2016-01-07
26      I-200-15275-080753  CERTIFIED-WITHDRAWN     2015-10-22    2015-11-04
27      I-200-15280-198598            CERTIFIED     2015-10-07    2015-10-14
28      I-200-15280-454382            CERTIFIED     2015-10-08    2015-10-15
29      I-200-15281-615436            CERTIFIED     2015-10-08    2015-10-15
...                    ...                  ...            ...           ...
647822  I-200-16106-722074            CERTIFIED     2016-04-15    2016-04-21
647823  I-200-16110-872053            CERTIFIED     2016-04-19    2016-04-25
647824  I-200-16116-721142            CERTIFIED     2016-05-02    2016-05-06
647825  I-200-16126-471335            CERTIFIED     2016-05-05    2016-05-11
647826  I-200-16130-127951            CERTIFIED     2016-05-09    2016-05-13
647827  I-200-16132-533417            CERTIFIED     2016-06-01    2016-06-07
647828  I-200-16069-994667            CERTIFIED     2016-03-09    2016-03-16
647829  I-200-16070-838682            CERTIFIED     2016-03-10    2016-03-16
647830  I-200-16071-129591            CERTIFIED     2016-03-11    2016-03-17
647831  I-200-16082-518007            CERTIFIED     2016-03-22    2016-03-28
647832  I-200-16118-068251            CERTIFIED     2016-04-27    2016-05-03
647833  I-200-16012-991690               DENIED     2016-01-12    2016-01-14
647834  I-200-16014-122334            CERTIFIED     2016-01-14    2016-01-21
647835  I-202-16056-473632               DENIED     2016-02-25    2016-02-29
647836  I-202-16061-518549               DENIED     2016-03-01    2016-03-04
647837  I-202-16066-124646               DENIED     2016-03-06    2016-03-09
647838  I-202-16066-742406            CERTIFIED     2016-03-06    2016-03-10
647839  I-200-16076-099449            CERTIFIED     2016-03-21    2016-03-25
647840  I-200-16056-684951            WITHDRAWN     2016-02-25    2016-03-04
647841  I-200-16140-578441            CERTIFIED     2016-05-19    2016-05-25
647842  I-200-15299-198138            CERTIFIED     2015-10-26    2015-10-30
647843  I-200-16071-784410            WITHDRAWN     2016-03-11    2016-03-11
647844  I-200-15324-892450            CERTIFIED     2016-01-06    2016-01-12
647845  I-200-16075-989908            CERTIFIED     2016-03-15    2016-03-21
647846  I-200-13242-278052            WITHDRAWN     2016-06-29    2016-06-29
647847  I-200-15301-672086            WITHDRAWN     2015-10-28    2015-10-29
647848  I-200-15355-392494            WITHDRAWN     2015-12-21    2015-12-21
647849  I-200-16063-456774            WITHDRAWN     2016-03-03    2016-03-03
647850  I-200-16069-542344            WITHDRAWN     2016-03-09    2016-03-09
647851  I-200-16155-398922            CERTIFIED     2016-06-03    2016-06-09

                        VISA_CLASS EMPLOYMENT_START_DATE EMPLOYMENT_END_DATE  \
0                             H-1B            2013-02-25          2016-02-24
1                             H-1B            2013-08-24          2016-08-23
2                             H-1B            2013-04-29          2016-04-28
3                             H-1B            2013-10-01          2016-09-30
4                             H-1B            2013-10-18          2016-10-17
5                             H-1B            2013-09-15          2016-09-15
6                             H-1B            2013-12-02          2016-12-01
7                             H-1B            2014-08-07          2017-08-06
8                             H-1B            2014-02-21          2017-02-21
9                             H-1B            2014-09-16          2017-09-15
10                            H-1B            2014-08-31          2017-08-30
11                            H-1B            2014-09-22          2017-09-21
12                            H-1B            2014-09-30          2017-09-30
13                            H-1B            2015-01-05          2017-12-16
14                            H-1B            2014-09-01          2017-08-31
15                            H-1B            2015-09-12          2018-09-11
16                            H-1B            2015-09-30          2016-09-29
17                            H-1B            2015-08-10          2018-08-09
18                            H-1B            2015-11-10          2018-11-09
19                            H-1B            2016-01-14          2018-01-13
20                            H-1B            2015-08-17          2018-08-17
21                            H-1B            2015-08-24          2018-08-23
22                            H-1B            2015-10-10          2016-11-12
23                            H-1B            2016-01-01          2018-12-31
24                            H-1B            2015-09-21          2018-09-20
25                            H-1B            2015-12-31          2018-12-30
26                            H-1B            2015-10-23          2018-10-22
27                            H-1B            2015-10-19          2018-10-19
28                            H-1B            2015-11-16          2018-11-16
29                            H-1B            2015-11-01          2018-10-31
...                            ...                   ...                 ...
647822                        H-1B            2016-09-18          2019-09-17
647823                        H-1B            2016-08-09          2019-08-08
647824                        H-1B            2016-08-20          2019-08-19
647825                        H-1B            2016-09-04          2019-09-03
647826                        H-1B            2016-09-05          2019-09-04
647827                        H-1B            2016-09-18          2019-09-17
647828                        H-1B            2016-09-05          2019-09-04
647829                        H-1B            2016-09-08          2019-09-07
647830                        H-1B            2016-09-09          2019-09-08
647831                        H-1B            2016-09-20          2019-09-19
647832                        H-1B            2016-08-31          2019-08-30
647833                        H-1B            2016-04-16          2017-04-15
647834                        H-1B            2016-04-16          2017-04-15
647835             H-1B1 Singapore            2016-03-15          2017-03-14
647836             H-1B1 Singapore            2016-04-15          2017-04-14
647837             H-1B1 Singapore            2016-04-15          2017-04-14
647838             H-1B1 Singapore            2016-04-15          2017-04-14
647839                        H-1B            2016-06-30          2019-06-29
647840                        H-1B            2016-08-19          2019-08-18
647841                        H-1B            2016-06-01          2017-05-31
647842                        H-1B            2015-11-03          2018-11-03
647843                        H-1B            2016-09-05          2019-09-04
647844                        H-1B            2016-02-09          2019-02-06
647845                        H-1B            2016-09-09          2019-09-08
647846                        H-1B            2013-10-01                 NaT
647847                        H-1B                   NaT                 NaT
647848                        H-1B                   NaT                 NaT
647849  Select Visa Classification                   NaT                 NaT
647850                        H-1B                   NaT                 NaT
647851                        H-1B                   NaT                 NaT

                                            EMPLOYER_NAME  \
0                                  UNIVERSITY OF MICHIGAN
1                                  GOODMAN NETWORKS, INC.
2                               PORTS AMERICA GROUP, INC.
3       GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...
4                               PEABODY INVESTMENTS CORP.
5                                 BURGER KING CORPORATION
6                        BT AND MK ENERGY AND COMMODITIES
7                         GLOBO MOBILE TECHNOLOGIES, INC.
8                                      ESI COMPANIES INC.
9                               LESSARD INTERNATIONAL LLC
10                                     H.J. HEINZ COMPANY
11                                DOW CORNING CORPORATION
12                                       ACUSHNET COMPANY
13                                          BIOCAIR, INC.
14                             NEWMONT MINING CORPORATION
15                                           VRICON, INC.
16                            CARDIAC SCIENCE CORPORATION
17                                  WESTFIELD CORPORATION
18                                         QUICKLOGIX LLC
19                                  MCCHRYSTAL GROUP, LLC
20                                      CUDDLE BARN, INC.
21                                  WESTFIELD CORPORATION
22                                            LOMICS, LLC
23               UC UNIVERSITY HIGH SCHOOL EDUCATION INC.
24                                 VMS COMMUNICATIONS LLC
25                                       QUICKLOGIX, INC.
26                             FOODESSENTIALS CORPORATION
27                                             HELLO INC.
28                                             UMBEL CORP
29                PERSPECTIVES OF FREEDOM FOUNDATION, INC
...                                                   ...
647822         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647823                                3D MARINE USA, INC.
647824                                         SAYBOLT LP
647825         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647826         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647827                                    JETBLUE AIRWAYS
647828         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647829         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647830         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647831         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647832         MEDITERRANEAN SHIPPING COMPANY (USA), INC.
647833               MORANT TRANSPORTATION INDUSTRIES,INC
647834              MORAN TRANSPORTATION INDUSTRIES, INC.
647835                            AIR INTERNATIONALE, LLC
647836                            AIR INTERNATIONALE, LLC
647837                            AIR INTERNATIONALE, LLC
647838                            AIR INTERNATIONALE, LLC
647839                         LOYOLA UNIVERSITY MARYLAND
647840                        HEXAWARE TECHNOLOGIES, INC.
647841                             UNIVERSITY OF MICHIGAN
647842                                  HINDUJA TECH INC.
647843                    L&T TECHNOLOGY SERVICES LIMITED
647844                                    INFOSYS LIMITED
647845                                     SIGMAWAYS, INC
647846                COMMONWEALTH HEALTHCARE CORPORATION
647847                          IBM INDIA PRIVATE LIMITED
647848                                                NaN
647849                                     TECHNOPLUS INC
647850                    L&T TECHNOLOGY SERVICES LIMITED
647851                                IRIS SOFTWARE, INC.

                               EMPLOYER_ADDRESS      EMPLOYER_CITY  \
0        PIERPONT COMMONS, INTERNATIONAL CENTER          ANN ARBOR
1        6400 INTERNATIONAL PARKWAY, SUITE 1000              PLANO
2                      525 WASHINGTON BOULEVARD        JERSEY CITY
3                           1551 WEWATTA STREET             DENVER
4                             701 MARKET STREET          ST. LOUIS
5                        5505 BLUE LAGOON DRIVE              MIAMI
6                          1395 BRICKELL AVENUE              MIAMI
7       1054 SOUTH DE ANZA BOULEVARD, SUITE 105           SAN JOSE
8                         1861 VANDERHORN DRIVE            MEMPHIS
9                 8521 LEESBURG PIKE, SUITE 700             VIENNA
10                    ONE PPG PLACE, SUITE 3100         PITTSBURGH
11                      2200 WEST SALZBURG ROAD            MIDLAND
12                            333 BRIDGE STREET          FAIRHAVEN
13                             56 ROLAND STREET             BOSTON
14             6363 SOUTH FIDDLERS GREEN CIRCLE  GREENWOOD VILLAGE
15             21300 RIDGETOP CIRCLE, SUITE 101           STERLING
16                       N7W22025 JOHNSON DRIVE           WAUKESHA
17                       2049 CENTURY PARK EAST       CENTURY CITY
18                          265 FRANKLIN STREET             BOSTON
19                     333 NORTH FAIRFAX STREET         ALEXANDRIA
20                          2839 TANAGER AVENUE           COMMERCE
21                       2049 CENTURY PARK EAST       CENTURY CITY
22                           4241 JUTLAND DRIVE          SAN DIEGO
23                          1059 TIERRA DEL REY        CHULA VISTA
24                    2601 SOUTH BAYSHORE DRIVE              MIAMI
25                          265 FRANKLIN STREET             BOSTON
26                        611 NORTH 10TH STREET        SAINT LOUIS
27                             1660 17TH STREET      SAN FRANCISCO
28                             800 CESAR CHAVEZ             AUSTIN
29                           778 HERITAGE DRIVE             WESTON
...                                         ...                ...
647822                         420 FIFTH AVENUE           NEW YORK
647823                        12411 DONNA DRIVE            HOUSTON
647824                       6316 WINDFERN ROAD            HOUSTON
647825                         420 FIFTH AVENUE           NEW YORK
647826                         420 FIFTH AVENUE           NEW YORK
647827                 27-01 QUEENS PLAZA NORTH   LONG ISLAND CITY
647828                         420 FIFTH AVENUE           NEW YORK
647829                         420 FIFTH AVENUE           NEW YORK
647830                         420 FIFTH AVENUE           NEW YORK
647831                         420 FIFTH AVENUE           NEW YORK
647832                         420 FIFTH AVENUE           NEW YORK
647833                       106 FRANCIS STREET         PROVIDENCE
647834                       106 FRANCIS STREET         PROVIDENCE
647835      755 SOUTH TELSHORE BLVD SUITE R-201         LAS CRUCES
647836      755 SOUTH TELSHORE BLVD SUITE R-201         LAS CRUCES
647837      755 SOUTH TELSHORE BLVD SUITE R-201         LAS CRUCES
647838      755 SOUTH TELSHORE BLVD SUITE R-201         LAS CRUCES
647839                4501 NORTH CHARLES STREET          BALTIMORE
647840                    101 WOOD AVENUE SOUTH             ISELIN
647841                     INTERNATIONAL CENTER          ANN ARBOR
647842                 39555 ORCHARD HILL PLACE               NOVI
647843                     2035 LINCOLN HIGHWAY             EDISON
647844                    6100 TENNYSON PARKWAY              PLANO
647845                  39737 PASEO PADRE PKWY.            FREMONT
647846      P.O. BOX 500409 CK, SAIPAN MP 96950             SAIPAN
647847                     3039 CORNWALLIS ROAD             DURHAM
647848                                      NaN                NaN
647849                     1004 RIDGE HOLLOW TR             IRVING
647850                     2035 LINCOLN HIGHWAY             EDISON
647851                      200 METROPLEX DRIVE             EDISON

                ...           \
0               ...
1               ...
2               ...
3               ...
4               ...
5               ...
6               ...
7               ...
8               ...
9               ...
10              ...
11              ...
12              ...
13              ...
14              ...
15              ...
16              ...
17              ...
18              ...
19              ...
20              ...
21              ...
22              ...
23              ...
24              ...
25              ...
26              ...
27              ...
28              ...
29              ...
...             ...
647822          ...
647823          ...
647824          ...
647825          ...
647826          ...
647827          ...
647828          ...
647829          ...
647830          ...
647831          ...
647832          ...
647833          ...
647834          ...
647835          ...
647836          ...
647837          ...
647838          ...
647839          ...
647840          ...
647841          ...
647842          ...
647843          ...
647844          ...
647845          ...
647846          ...
647847          ...
647848          ...
647849          ...
647850          ...
647851          ...

                                          PW_SOURCE_OTHER  \
0                                                     NaN
1                                 OFLC ONLINE DATA CENTER
2                                 OFLC ONLINE DATA CENTER
3                                 OFLC ONLINE DATA CENTER
4                                 OFLC ONLINE DATA CENTER
5       TOWERS WATSON 2012 CSR TOP MANAGEMENT COMPENSA...
6                                 OFLC ONLINE DATA CENTER
7                                 OFLC ONLINE DATA CENTER
8                                 OFLC ONLINE DATA CENTER
9                     FLC DATA CENTER ONLINE WAGE LIBRARY
10                                OFLC ONLINE DATA CENTER
11                                OFLC ONLINE DATA CENTER
12                                OFLC ONLINE DATA CENTER
13                                OFLC ONLINE DATA CENTER
14                                OFLC ONLINE DATA CENTER
15                                OFLC ONLINE DATA CENTER
16                               OFLC ONLINE WAGE LIBRARY
17                                OFLC ONLINE DATA CENTER
18                                OFLC ONLINE DATA CENTER
19                                OFLC ONLINE DATA CENTER
20                                OFLC ONLINE DATA CENTER
21                                OFLC ONLINE DATA CENTER
22                                OFLC ONLINE DATA CENTER

CASE_NUMBER                  0
CASE_STATUS                  0
CASE_SUBMITTED               0
DECISION_DATE                0
VISA_CLASS                   0
EMPLOYMENT_START_DATE       17
EMPLOYMENT_END_DATE         25
EMPLOYER_NAME               15
EMPLOYER_ADDRESS             5
EMPLOYER_CITY                6
EMPLOYER_STATE              34
EMPLOYER_POSTAL_CODE        21
EMPLOYER_COUNTRY             3
EMPLOYER_PHONE               3
AGENT_ATTORNEY_NAME          0
JOB_TITLE                    7
SOC_CODE                     8
SOC_NAME                     8
NAIC_CODE                    5
TOTAL_WORKERS                0
PREVAILING_WAGE              1
PW_UNIT_OF_PAY              49
PW_WAGE_SOURCE              53
PW_SOURCE_YEAR              61
PW_SOURCE_OTHER           8187
WAGE_RATE_OF_PAY_FROM        0
WAGE_RATE_OF_PAY_TO          1
WAGE_UNIT_OF_PAY            10
H-1B_DEPENDENT           13272
WILLFUL_VIOLATOR         13273
WORKSITE_CITY               18
WORKSITE_COUNTY           1344
WORKSITE_STATE              10
WORKSITE_POSTAL_CODE        32
dtype: int64

Removing columns that are not useful in our analysis, also they have null values:  employer_province, employer_phone_ext, agent_attorney_city, agent_attorney_state, full_time_position (no values), original_cert_date

In [5]:
H1VisaData_df.dtypes
# Transform a object type to date type to proceed to do clean up based on dates fields
H1VisaData_df['EMPLOYMENT_START_DATE'] =  pd.to_datetime(H1VisaData_df['EMPLOYMENT_START_DATE'], format='%m/%d/%Y')
H1VisaData_df['CASE_SUBMITTED'] =  pd.to_datetime(H1VisaData_df['CASE_SUBMITTED'], format='%m/%d/%Y')
H1VisaData_df['DECISION_DATE'] =  pd.to_datetime(H1VisaData_df['DECISION_DATE'], format='%m/%d/%Y') 
H1VisaData_df['EMPLOYMENT_END_DATE'] =  pd.to_datetime(H1VisaData_df['EMPLOYMENT_END_DATE'], format='%m/%d/%Y')

In [6]:
#Removing columns that are not needed for this analysis and has big percentage of missing values
H1VisaClean_df = H1VisaData_df
H1VisaClean_df.drop(['EMPLOYER_PROVINCE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'FULL_TIME_POSITION', 'ORIGINAL_CERT_DATE'], axis=1, inplace=True)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,...,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,I-200-12240-490687,CERTIFIED-WITHDRAWN,2012-08-27,2015-10-16,H-1B,2013-02-25,2016-02-24,UNIVERSITY OF MICHIGAN,"PIERPONT COMMONS, INTERNATIONAL CENTER",ANN ARBOR,...,NaN,"41,000.00",0.00,Year,N,N,ANN ARBOR,WASHTENAW,MI,48109
1,I-200-13053-847481,CERTIFIED-WITHDRAWN,2013-02-25,2016-01-13,H-1B,2013-08-24,2016-08-23,"GOODMAN NETWORKS, INC.","6400 INTERNATIONAL PARKWAY, SUITE 1000",PLANO,...,OFLC ONLINE DATA CENTER,"400,000.00",0.00,Year,N,N,PLANO,COLLIN,TX,75093
2,I-200-13088-054259,CERTIFIED-WITHDRAWN,2013-04-23,2015-12-10,H-1B,2013-04-29,2016-04-28,"PORTS AMERICA GROUP, INC.",525 WASHINGTON BOULEVARD,JERSEY CITY,...,OFLC ONLINE DATA CENTER,"264,000.00","451,100.00",Year,N,N,JERSEY CITY,HUDSON,NJ,07310
3,I-200-13144-034110,CERTIFIED-WITHDRAWN,2013-05-24,2016-01-19,H-1B,2013-10-01,2016-09-30,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",1551 WEWATTA STREET,DENVER,...,OFLC ONLINE DATA CENTER,"220,314.00","600,000.00",Year,N,N,DENVER,DENVER,CO,80202
4,I-200-13172-415116,WITHDRAWN,2013-06-26,2016-05-20,H-1B,2013-10-18,2016-10-17,PEABODY INVESTMENTS CORP.,701 MARKET STREET,ST. LOUIS,...,OFLC ONLINE DATA CENTER,171.63,0.00,Hour,N,N,ST. LOUIS,ST. LOUIS,MO,63101

In [9]:
# Removing records that are not part of 2016 where goverments starts on 10/1/2015 in this case
H1VisaClean_df = H1VisaClean_df[(H1VisaClean_df['EMPLOYMENT_START_DATE']>('2015-10-1'))]

In [31]:
from datetime import timedelta
#Removing records without employer name, this is mandatory data for H-1 visa process, this data might be a human mistake when
#recording the information
H1VisaClean_df = H1VisaClean_df.dropna(subset=['EMPLOYER_NAME'])
# We had 10 misisng values for end_date so based on rules in H-1 visa the maximo value that can be granted is 3 years so these
# values will be imputed based on start_date+3 years
H1VisaClean_df['IMP_EMP_END_DATE'] = H1VisaClean_df['EMPLOYMENT_END_DATE']
H1VisaClean_df['IMP_EMP_END_DATE'].fillna(H1VisaClean_df['EMPLOYMENT_START_DATE']+ timedelta(days=1095), inplace=True)
H1VisaClean_df['IMP_EMP_ADDRESS'] = H1VisaClean_df['EMPLOYER_ADDRESS']
H1VisaClean_df['IMP_EMP_ADDRESS'].fillna("NO DEFINED", inplace=True)
H1VisaClean_df['IMP_EMP_CITY'] = H1VisaClean_df['EMPLOYER_CITY']
H1VisaClean_df['IMP_EMP_CITY'].fillna("NO DEFINED", inplace=True)
H1VisaClean_df['IMP_EMP_STATE'] = H1VisaClean_df['EMPLOYER_STATE']
H1VisaClean_df['IMP_EMP_STATE'].fillna("NO DEFINED", inplace=True)
H1VisaClean_df['IMP_EMP_ZIP'] = H1VisaClean_df['EMPLOYER_POSTAL_CODE']
H1VisaClean_df['IMP_EMP_ZIP'].fillna("00000", inplace=True)
H1VisaClean_df.isnull().sum()

CASE_NUMBER                  0
CASE_STATUS                  0
CASE_SUBMITTED               0
DECISION_DATE                0
VISA_CLASS                   0
EMPLOYMENT_START_DATE        0
EMPLOYMENT_END_DATE         10
EMPLOYER_NAME                0
EMPLOYER_ADDRESS             1
EMPLOYER_CITY                3
EMPLOYER_STATE              31
EMPLOYER_POSTAL_CODE        17
EMPLOYER_COUNTRY             0
EMPLOYER_PHONE               0
AGENT_ATTORNEY_NAME          0
JOB_TITLE                    1
SOC_CODE                     2
SOC_NAME                     2
NAIC_CODE                    2
TOTAL_WORKERS                0
PREVAILING_WAGE              1
PW_UNIT_OF_PAY              46
PW_WAGE_SOURCE              49
PW_SOURCE_YEAR              57
PW_SOURCE_OTHER           7080
WAGE_RATE_OF_PAY_FROM        0
WAGE_RATE_OF_PAY_TO          1
WAGE_UNIT_OF_PAY             5
H-1B_DEPENDENT           12693
WILLFUL_VIOLATOR         12694
WORKSITE_CITY               15
WORKSITE_COUNTY           1253
WORKSITE_STATE               7
WORKSITE_POSTAL_CODE        29
IMP_EMP_END_DATE             0
NEW_DATE                     0
IMP_EMP_ADDRESS              0
IMP_EMP_CITY                 0
IMP_EMP_STATE                0
IMP_EMP_ZIP                  0
dtype: int64

In [37]:
VisaTotals_df = H1VisaClean_df.groupby(['VISA_CLASS', 'CASE_STATUS']).size().reset_index(name='counts')
print(VisaTotals_df)

         VISA_CLASS          CASE_STATUS  counts
0    E-3 Australian            CERTIFIED    9904
1    E-3 Australian  CERTIFIED-WITHDRAWN     312
2    E-3 Australian               DENIED     900
3    E-3 Australian            WITHDRAWN     292
4              H-1B            CERTIFIED  556047
5              H-1B  CERTIFIED-WITHDRAWN   22260
6              H-1B               DENIED    8168
7              H-1B            WITHDRAWN   17844
8       H-1B1 Chile            CERTIFIED     742
9       H-1B1 Chile  CERTIFIED-WITHDRAWN      23
10      H-1B1 Chile               DENIED      67
11      H-1B1 Chile            WITHDRAWN      23
12  H-1B1 Singapore            CERTIFIED     953
13  H-1B1 Singapore  CERTIFIED-WITHDRAWN      21
14  H-1B1 Singapore               DENIED      49
15  H-1B1 Singapore            WITHDRAWN      32

In [53]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

#  HERE I WILL PROCEED WITH BASIC STATS LIKE THE CLASS WITH THE TITANIC

## Simple Statistics

## Visualize Attributes

## Explore Join Attributes

## Explore Attributes and Class

## New Features

## Exceptional Work